body {
  width: 99%;
  overflow-x: hidden;
}

.sidebar {
  display: inline-block;
  width: 15%;
  height: 100%;
}

.appName{
  border-color: slategray;
  border-style: solid;
  border-width: 1px;
  font-family: Lobster;
  font-size: 17px;
  color: rebeccapurple;
  min-height: 22.5%;
  padding-left: 5%;
  vertical-align: text-bottom;
}

.appDescirption {
  font-size: 10%;
}

.emphasis {
  font-size: 150%;
}

.file {
  border: slategray;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: monospace;
  padding: 10px;
}

.deleteFile {
  float: right;
}

.createNew {
  border: slategray;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  padding: 10px;
}

.fileName {
  color: white;
  background-color: darkslategray;
  font-family: Lobster, Arial, Helvetica, sans-serif;
  font-size: 15pt;
  padding: 15px;
}

.saveMarkdown {
  cursor: pointer;
  float: right;
}

.mainArea {
  float: right;
  width: 85%;
  height: 100%;
}

.editorForm {
  display: inline-block;
  width: 51%;
}

.editorHeader {
  padding: 10px;
  border: 1px solid gray;
  color: gray;
}

.previewHeader {
  padding: 10px;
  border: 1px solid gray;
  color: gray;
  width: 78.2%;
}

#editor {
  font-size: 15pt;
  min-height: 600px;
  width: 100%;
}

.previewForm {
  display: inline-block;
  position: absolute;
  width: 50.8%;
}

#preview {
  border-style: solid;
  border-width: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  min-height: 600px;
  max-height: 600px;
  overflow: scroll;
  width: 81%;
}
