html
  head
    title Mmmarkdown
    link(href="/stylesheet/styles.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src="/javascript/marked.min.js")
    script(src="/javascript/main.js")

  include sidebar
  body
    .mainArea
      include header
      .editorArea
        include editor
        include preview
