.sideBar
  .appName
    h2 mmmarkdown
  span.files
    for file in files || 'a'
      a(href=`/${file}`)
        .file= file
          form.deleteFile(action=`/api/delete/${file}` method="post")
            button(type="submit") delete
    a(href="/")
      .file create new file
