.sideBar
  .appName
    h1 mmmarkdown
    p.appDescription
      | ...the 
      span.emphasis Lobster 
      | of markdown editors (๑ > ◡ < ๑)
  span.files
    for file in files
      .file(id=`${file}`)= file
        form.deleteFile(id=`${file}`)
          button(type="submit") delete
    .file create new file
