.sideBar
  .appName
    h1 mmmarkdown
    p.appDescription
      | ...the 
      span.emphasis Lobster 
      | of markdown editors (๑&nbsp;>&nbsp;◡&nbsp;<&nbsp;๑)
  span.files
    for file in files
      .file(id=`${file}`)= file
        form.deleteFile(action=`/api/delete/${file}` method="post")
          button.trash(type="submit") 
            i.fa.fa-trash(aria-hidden='true')
    .file create new file
